<h2>Your Image Gallery</h2>


<% if @user.images.any? %>
  <br>
  <div class="grid-container">
    <% @user.images.each do |image| %>
    
      <div class="grid-item">
        <% if image.photo.attached? %>
          <p style="text-align:center;"><%= image_tag(image.photo, width: 300) %></p>
        <% end %>
        <p style="text-align:center;"><%= link_to image.description, edit_user_image_path(@user, image) %></p>
        
        </div>
    <% end %>
  </div>
<% else %>
<ul>
  <li>
    <p>You currently have no images.</p>
  </li>
</ul>
<% end %>

<h5><%= link_to "add image", new_user_image_path(@user)%></h5> 
