<h1>Welcome to Stickr!</h1>
<hr>
<div class="row">
  <div class="col-sm-6">
    <p>Stickr is a website where you can create an account and upload pictures to the database for storage. To get started, simply click on "Sign up" to create a new account or "Sign in" to log in with an existing account. Once you are signed in, you can navigate to the <em><strong>Images</strong></em> tab on the navigation bar and add new images or view existing images.</p>
    </div>
    <div class="col-sm-1">
  </div>
  <div class="col-sm-4">
    <img src="https://99designs.zendesk.com/hc/article_attachments/202090665/40749120150407-3-112nbtl" height="110">
  </div>
</div>
<br><br><br>
<div class="row">
  <div class="col-sm-5">
    <p>As a <b>Normal User</b>, you are allowed access to:</p>
    <ul>
      <li>Upload image files and add a name or description for the image. </li>
      <li>Edit any existing image in your gallery.</li>
      <li>Delete any existing image in your gallery.</li>
    </ul>
    </div>
    <div class="col-sm-1">
  </div>
  <div class="col-sm-5">
  <p>As an <b>Admin</b>, you are allowed access to:</p>
  <ul>
    <li>All features of a normal user.</li>
    <li>Access to the <b>Admin Dashboard</b></li>
    <li>View the list of all users in the database.</li>
    <li>Delete any users in the database.</li>
    <li>View, edit, delete any images in the database.</li>
  </ul>
</div>
<div class="col-sm-5">
</div>
<br><br><br>
<div class="row">
  <div class="col-sm-5">
    <p>Since this website is for educational purposes, I have created an admin account in the database with the following login:</p>
    <ul>
      <li>login: a@a.com</li>
      <li>password: a</li>
    </ul>
  </div>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-5">
  <p style="text-align:center;"><img src="https://cdn1.iconfinder.com/data/icons/users-39/24/305-512.png" height="150"></p>
  </div>
</div>