<h2>Your Image Gallery</h2>

<% if @user.images.any? %>
  <br>

  <% @user.images.each do |image| %>
    <ol>
      <li>
        <%= link_to image.description, edit_user_image_path(@user, image) %>

        <%= image_tag "#{image.url}", height: 100 %>
        
      </li>
    </ol>
  <% end %>
<% else %>
  <p>There are no images.</p>
<% end %>

<p><%= link_to "add image", new_user_image_path(@user)%></p> 